* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#container {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 40rem; 
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding-bottom: 4rem;
    height: 50rem;
    background-image: url('quiz.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;       
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 35rem;
    background-color: #007bff;
    border-radius: 0.3em;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

#question-div {
    margin-top: 150px; 
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 35rem;
    text-align: center;
}

#question {
    position: relative;
    bottom: 4rem;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.answer {
    padding: 12px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.answer:hover {
    background-color: #0056b3;
}

.answer:active {
    background-color: #004085;
}

#timer {
    margin-top: 20px;
    font-size: 3rem;
    font-weight: bold;
    color: #007bff;
    width:30rem ;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.5); 
    background-color: #a78383;
    border-radius: 10rem;
}

button {
    position: relative;
    left: 0.5rem;
    padding: 12px 25px;
    font-size: 2rem;
    background-color: #0073ff;
    color: white;
    border: none;
    border-radius: 5px;
    width: 35rem;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 30px;
}

button:hover {
    background-color: #1900ff;
}